* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
}
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 80px;
    background-color: bisque;
}

.nav-element {
    display: inline;
    float: left;
}

.nav-link {
    display: block;
    padding: 8px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    background-color: antiquewhite;
}
div {
    padding-top: 10px;
    padding-bottom: 10px;
}
h1, h2, h3 {
    color: #333;
}
.photo {
    padding-top: 20px;
    text-align: center;
}
.photo img {
    max-width: 150px;
    border-radius: 20%;
}
.contact-info, .summary, .skills, .experience, .education, .english {
    margin-bottom: 20px;
}
.contact-info ul, .skills ul {
    list-style: none;
    padding: 0;
}
.contact-info li, .skills li {
    margin-bottom: 10px;
}
.experience .job, .education .degree {
    margin-bottom: 15px;
}
footer {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    background-color: bisque;
}
footer img {
    max-width: 100px;
}
